@font-face {
  font-family: 'HuaKang Yuan W9';
  src: url('@/assets/font/DFGB_Y9.TTC') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'HuaKang Yuan W7A';
  src: url('@/assets/font/DFYUAN7A.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'HuaKang HaiBao W12';
  src: url('@/assets/font/华康海报体.ttf') format('truetype');
  font-weight: normal;
}